{% extends "base.html" %}

{% block page_title %}
<div class="title-container">
  <h3 id="add-course-title">Edit a Course</h3>
</div>
{% endblock %}

{% block content %}
<div id="edit-course-form-container">
  <form id="edit-course-form" method="POST">
    {{ form.hidden_tag() }}
    
    {% for field in form 
      if field.widget.input_type != 'hidden' and field.widget.input_type != 'checkbox' %}
      
    <div class="form-group">
      {{ field.label }}
      {{ field(class_="form-control") }}
      
      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </div>
    {% endfor %}
    
    {% for field in form 
      if field.widget.input_type == 'checkbox' %}
    <div id="form-group">
      {{ field.label(class_="form-checkbox-label") }}
      {{ field }}
      
      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </div>
    {% endfor %}
    
    <button id="edit-course-form-button" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% if error %}
  <p>{{ error }}</p>
{% endif %}

{% endblock %}