{% extends "base.html" %}

{% block page_title %}
<div class="title-container">
  <h3 id="planner-title">{{ plan.name }}</h3>
</div>

<div class="planner-buttons-container">
  <a href="/{{ userId }}/planner/{{ plan.id }}/create-new-semester" class="btn btn-primary"><i class="fas fa-plus"></i>Add New Semester</a>
</div>

{% endblock %}

{% block content %}

<div id="semester-display-container">
  {% for semester in plan.semesters %}
  <div class="semester-container">
    <h3>{{ semester.name }}</h3>
  </div>
  {% endfor %}
</div>

{% if error %}
  <p>{{ error }}</p>
{% endif %}

{% endblock %}